<div class="todoapp">
  <h1 class="todoapp__title">todos</h1>

  <div class="todoapp__content">
    <header class="todoapp__header">
      <button class="todoapp__toggle-all active"></button>

      <form action="">
        <input type="text" class="todoapp__new-todo" placeholder="What needs to be done?" />
      </form>
    </header>

    <section class="todoapp__main">
      <div class="todoapp" [class.completed]="todo.completed" *ngFor="let todo of todos">
        <label class="todo__status-label">
          <input type="checkbox" class="todo__status" checked>
        </label>

        <form *ngIf="editing; else titleBlock">
          <input type="text" class="todo__title-field" placeholder="Empty todo will be deleted"
            value="Todo is being edited now">
        </form>

        <ng-template #titleBlock>
          <span class="todo__title">{{ todo.title }}</span>
          <button class="todo__remove">X</button>
        </ng-template>

        <div class="modal overlay" [class.is-active]="false">
          <div class="modal-background has-background-white-ter"></div>
          <div class="loader"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<router-outlet></router-outlet>
